<style id="_pageStyle">
{% capture page_style %}
  .content a {    
    color: #000000;
    padding: 0 5px;
    background: linear-gradient(transparent 65%, #ffb2b7 66%, #ffb2b7 100%);
    background-image: linear-gradient(transparent 65%, rgb(255, 178, 183) 66%, rgb(255, 178, 183) 100%);

    &:hover {
      background: #ffb2b7 66%;
      background-image: rgb(255, 178, 183) 66%;
    }
  }

  .content a:hover {
    border-color: {{ color }};
  }

  :focus {
    outline-color: {{ color }};
  }

  ::selection {
    color: #fff;
    background: {{ color }};
  }

  ::-moz-selection {
    color: #fff;
    background: {{ color }};
  }
{% endcapture %}
{{ page_style | scssify }}
</style>
